GOOGLE_API_KEY=<api-key>
EMBEDDING_MODEL=models/gemini-embedding-2
PRIMARY_MODEL=llama-3.1-8b-instant

QDRANT_URL=http://localhost:6333

LANGSMITH_TRACING=true
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<api-key>
LANGSMITH_PROJECT="ecomm-cust-assist"

JWT_SECRET_KEY=<your-secret-key>
JWT_EXPIRATION_HOURS=1

SUPABASE_URL=<your-url>
SUPABASE_KEY=<your-key>
SUPABASE_DB_URL=<your-db-url>

GROQ_API_KEY=<api-key>

REDIS_URL=http://localhost:6379