# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Data
*.jsonl
*.log

# DeepEval
.deepeval/

# Local Environment Variables
.env.local